@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Rubik', sans-serif;
  background-color: black;
}

/* custom scrollbar */
@media (min-width: 768px) {
  ::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: black;
}

::-webkit-scrollbar-thumb
{
  border-radius: 4px;
  background-color: rgb(157, 224, 176);
}
}